# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Logs
logs/*.log
logs/*.jsonl

# Baselines (générées automatiquement)
shared/kernel_modules_baseline.txt
shared/file_baseline.json

# OS
.DS_Store
Thumbs.db
